/*Deals with the head elements. Head wasn't working*/
#logo {
	margin: 20px;
	height: 100px;
	text-align: top left;
}

#links {
	margin: 30px;
	line-height: 70px;
	float: right;
	font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav ul li {
	display: inline;
	margin: 10px;
}

li a:hover {
	color: red;
}

#contact {
	margin-left: 10px;
	background-color: cornflowerblue;
	border-radius: 12px;
	font-size: 20px;
	color: cornsilk;
	padding: 10px 24px;
}

.body {
	font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-image: url(background.png);
	background-repeat: repeat-x;
	border: 80px;
	padding: 50px;
	overflow: hidden;
	align-content: center;
	display: block;
}

.body .text-center{
	text-align:center;
}

#con {
	padding: 10px;
}

#contactForm {
	box-sizing: border-box;
	border: solid;
	width: 480px;
	margin: 10px;
	margin-left: 500px;
	position: sticky;
	padding: 10px;
	background-color: rgb(173, 215, 230);
}

#git {
	text-align: center;
}

#labelN {
	display: block;
}

#labelS {
	display: block;
}

#labelM {
	display: block;
}

#nameInput {
	vertical-align: top;
}

#subject {
	vertical-align: top;
}

#sub {
	background-color: cornflowerblue;
	border-radius: 12px;
	font-size: 20px;
	color: cornsilk;
	padding: 10px 24px;
}

#paragraphBox {
	padding-top: 1%;
	padding-left: 25%;
	padding-right: 25%;
}
#paragraph {
	max-width: 100%;
	height: auto;
	text-align: left;
}

#services {
	margin-left: 25%;
	margin-top: 50px;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	position: relative;
	padding: 35px;
	padding-bottom: 40px;
	display: block;
	vertical-align: baseline;
	overflow: hidden;
	box-sizing: border-box;
	font-size: 15px;
	color: whitesmoke;
	background-image: url(footer3.png);
}

.inner_footer {
	padding-left: 150px;
	padding-right:150px;
	display: block;
	margin: 0 auto;
	width: 95%;
	height: 100%;
	bottom: 0;
}

.inner_footer .logo_container {
	width: 15%;
	float: left;
	height: 100%;
	display: block;
}

.inner_footer .logo img {
	width: 30%;
	height: auto;
	float: left;
}

.inner_footer .footer_third {
	width: 25%;
	float: left;
	height: 100%;
}


.inner_footer .footer_third h1 {
	font-size: 16px;
	color: black;
	display: block;
	font-weight: bold;
	width: 100%;
	margin-bottom: 0px;
}

.inner_footer .footer_third a {
	font-size: 12px;
	color: black;
	display: block;
	width: 100%;
	font-weight: bolder;
	padding-bottom: 0px;
}


/*FORM STYLING*/
input[type=text], select, textarea {
	width: 100%; 
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical 
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
}
