/*Deals with the head elements. Head wasn't working*/
#logo{
	margin: 20px;
	height: 100px;
	text-align: top left;
}
#links{
	margin: 30px;
	line-height: 70px;
	float: right;
	font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
nav ul li{
	display: inline;
	margin: 10px;
}
li a:hover{
	color: red;
}
#contact{
	margin-left: 10px;
	background-color: cornflowerblue;
	border-radius: 12px;
	font-size: 20px;
	color: cornsilk;
	padding: 10px 24px;
}
body {
	font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-image: url(background.png);
	background-repeat: repeat-x;
}
#con{
	padding: 10px;
}
#contactForm{
	box-sizing: border-box;
	border: solid;
	width: 480px;
	margin: 10px;
	margin-left: 500px;
	position: sticky;
	padding: 10px;
	background-color: rgb(173, 215, 230);
}
#git{
	text-align: center;
}

#labelN{
	display: block;
}
#labelS{
	display: block;
}
#labelM{
	display: block;
}
#nameInput{
	vertical-align: top;
}
#subject{
	vertical-align: top;
}
#message{
	
	width: 450px;
	height: 250px;
}
#sub{
	background-color: cornflowerblue;
	border-radius: 12px;
	font-size: 20px;
	color: cornsilk;
	padding: 10px 24px;
}

#ps {
	font-size: 40px;
	font-weight: bold;
	margin-left: 100px;
}

#a2 {
	margin: 30px;
	text-align: center;
}

#section1 {
	margin-left: 200px;
	margin-top: 60px;
	margin-bottom: 50px;
	text-align: left;
}

#paragraph {
	/*margin: 200px;*/
	padding-left: 200px;
	padding-right: 200px;
	margin-top: 50px;
	max-width: 75%;
	height: auto;
}

#services {
	margin-left: 250px;
	margin-top: 50px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	background-color: lightslategray;
	padding:45px 0;
	box-sizing: border-box;
	font-size:15px;
	color:whitesmoke;
}

.inner_footer {
	display: block;
	margin: 0 auto;
	width: 95%;
	height:100%;
	bottom:0;
}

.inner_footer .logo_container{
	width: 15%;
	float: left;
	height: 100%;
	display: block;
}

.inner_footer .logo img {
	width: 30%;
	height: auto;
	float: left;
}

.inner_footer .footer_third{
	width: 350px;
	margin-right: 10px;
	float: left;
	height: 100%;
}


.inner_footer .footer_third h1 {
	font-size: 20px;
	color: black;
	display: block;
	font-weight: bold;
	width: 100%;
	margin-bottom: 20px;
}

.inner_footer .footer_third a {
	font-size: 16px;
	color: black;
	display: block;
	width: 100%;
	font-weight: bolder;
	padding-bottom: 5px;
}
